<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen" />
    <link href="{% static 'css/bootstrapDatepickr-1.0.0.css' %}" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script type="text/javascript" src="{% static 'js/jquery-2.0.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
</head>
<body>
    &nbsp;&nbsp;&nbsp; <span class="fname_msg"></span>  &nbsp;&nbsp;&nbsp;<span class="status"></span>
    <div class="progress">
        <span class="bar"></span>&nbsp;<span class="percent">0%</span>
    </div>

</body>
</html>